In [35]:
import pandas as pd
from statsmodels.graphics.tsaplots import plot_acf
import statsmodels.api as sm
from prophet import Prophet
import numpy as np

In [24]:
data = pd.read_csv('https://github.com/dustywhite7/econ8310-assignment1/raw/main/assignment_data_train.csv')

In [4]:
data.head()

             Timestamp  year  month  day  hour  trips
0  2018-01-01 00:00:00  2018      1    1     0  16714
1  2018-01-01 01:00:00  2018      1    1     1  19041
2  2018-01-01 02:00:00  2018      1    1     2  16590
3  2018-01-01 03:00:00  2018      1    1     3  12626
4  2018-01-01 04:00:00  2018      1    1     4   8739

In [28]:
data_p = data[['Timestamp', 'trips']]
data_p.columns = ['ds', 'y']

In [16]:
model = Prophet()
modelFit = model.fit(data_p)
modelFit._is_fitted = True

22:46:47 - cmdstanpy - INFO - Chain [1] start processing
22:46:48 - cmdstanpy - INFO - Chain [1] done processing

In [17]:
future = model.make_future_dataframe(periods=744, freq='H')
forecast = model.predict(future)

In [18]:
pred = forecast.loc[forecast.index[-744:], 'yhat'].values

### tests

In [19]:

dataTest = pd.read_csv("C:/Users/chris/OneDrive/Documents/School/UNO/Classes/active/ECON8310/assignments/hw1/assignment-01-arima-gam-exponential-smoothing-ols-cdyoung34/tests/testData.csv")['trips']
rmse = sum([(np.squeeze(pred)[i]-dataTest[i])**2 for i in range(len(np.squeeze(pred)))])
rmse = np.sqrt(rmse)*1/744

print(rmse)

98.40784011680351